@charset "UTF-8";
/* ### index01.htm-css  */
header {
    width: 300px;
    border: 15px solid orangered;
    padding: 50px;
    margin: 20px;
  }

nav {
    width: 300px;
    border: 15px solid orangered;
    padding: 50px;
    margin: 20px;
  }

main {
    width: 300px;
    border: 15px solid orangered;
    padding: 50px;
    margin: 20px;
  }

footer {
    width: 300px;
    border: 15px solid orangered;
    padding: 50px;
    margin: 20px;
  }

body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

/* ### index02.htm-css  */

/* ### index03.htm-css  */
header {
  width: 300px;
  border: 10px solid orangered;
  padding: 50px;
  margin: 20px; 
  letter-spacing: 0px;
  font-size: 30px;
  text-decoration: underline; 
  text-align: center; 
  background-image: url("https://i.pinimg.com/236x/83/71/bb/8371bbe78ca221934d58744b584a6439.jpg"); 
}  
      


body {
    color: black;
    /*background-image: url("https://i.pinimg.com/236x/83/71/bb/8371bbe78ca221934d58744b584a6439.jpg"); }*/
  
  nav {
  width: 300px;
  height: 00px;
  border: 10px solid orangered;
  padding: 50px;
  margin: 20px;
  direction: ltr;
  text-align: left;
  background-image: url("./image/yellow.jpg")
}

main {
  width: 300px;
  border: 10px solid orangered;
  padding: 50px;
  margin: 20px;
  background-image: url("./image/grey.jpg");
        
}

div.titulo {
  font-size: x-large;
  line-height: 3.0;
  white-space: pre-line;
  text-align: center;
}

div.italico {
  font-style: italic;
  text-align: center;
}

p.negrito {
  font-weight: 900;
  text-align: left;
}

p.vermelho {
  color: red;
  direction: ltr;
  text-align: left;
}

footer {
  width: 300px;
  border: 10px solid orangered;
  padding: 50px;
  margin: 20px;
  font-style: italic;
  font-weight: bold;
  text-indent: 120px;
  text-align: right;
  background-image: url("./image/green.jpg");
}  